/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    margin-top: 32px;
    @include clearfix;
}

.site-footer {
    background: #EEEEEE;
    padding: 16px 0 24px;
    border-top: 1px solid #ddd;
    font-size: 10px;
    line-height: 1.4;
    color: #555;
    font-family: $font-family-special;
    h4 {
        font-size: 16px;
        line-height: 1.3em;
        color: black;
        margin-bottom: 2px;
        font-weight: bold;
    }
    h5 {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 2px;
    }
    p {
        margin-bottom: 2px;
        b {
            color: #111;
        }
    }
    .info {}
    .contact {
        a {
            color: #555;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__nav {
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #ddd;
        li {
            font-size: 16px;
            text-transform: uppercase;
            a {
                color: #111;
                display: block;
                padding: 8px 0;
            }
        }
    }
}